@model WebAppCourseFinalProject.Models.Writer

@{
    ViewData["Title"] = "Details";
}

<h2>Writer page</h2>

<div>
    <h4>We will have the dashboard here</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Profile</a> |
    <a asp-action="AddPost" asp-route-id="@Model.Id">Add Post</a> |
    <a asp-action="WriterPosts" asp-route-id="@Model.Id">My posts</a>
</div>
