@model WebAppCourseFinalProject.Models.Writer

@{
    ViewData["Title"] = "Details";
}

<h2>Writer page</h2>

<div>
    <h4>Number of posts in category</h4>
    <hr />
    <div>
        <select>
            <option>Bar Chart</option>
            <option>Pie Chart</option>
        </select>
    </div>
    <svg id="bar"></svg>
    <svg id="pie" class="hidden"></svg>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Profile</a> |
    <a asp-action="AddPost" asp-route-id="@Model.Id">Add Post</a> |
    <a asp-action="WriterPosts" asp-route-id="@Model.Id">My posts</a> |
    <a asp-action="UsersList">Users Details</a>

</div>
@section Scripts{
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="~/js/writer_page.js"></script>
}

@section Styles{
    <link href="~/css/writer_page.css" rel="stylesheet" />
}
