@model IEnumerable<WebAppCourseFinalProject.Models.WritersPostViewModel>

@{
    ViewData["Title"] = "My Posts";
}

<h2>My Posts</h2>


<p>
    <a asp-controller="Posts" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.post.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post.Content)
            </th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.post.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.post.ContentTrimmed)
                </td>
            
                <td>
                    <a asp-controller="Posts" asp-action="Edit" asp-route-id="@item.post.Id">Edit</a> |
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.post.Id">Details</a> |
                    <a asp-controller="Posts" asp-action="Delete" asp-route-id="@item.post.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>