@model WebAppCourseFinalProject.Models.Post


<div>
    <h2> @Html.DisplayFor(model => model.Title)</h2>
    <h3> Written by: @Html.DisplayFor(model => model.Writer.DisplayName)</h3>
    @Html.DisplayFor(model => model.CreatedAt)
    <br />
    <br />
    @Html.DisplayFor(model => model.Content)
    <br />
    <br />
    @if (@Model.Categories.Count() > 0)
    {
        <h5>Categories: </h5>}

    @foreach (var item in Model.Categories)
    {
        @Html.DisplayFor(m => item.NameForDisplay)
    }

</div>

<!-- TODO need to hide when there is no link -->
<div>
    <iframe id="video_link" 
            src="https://www.youtube.com/embed/Mh85R-S-dh8"></iframe>
</div>

<div id="post-options">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Styles{
    <link href="~/css/post.css" rel="stylesheet" />
}
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            //Showing or hiding the edit and list option based on admin or not
        var isAdmin = @ViewData["isAdmin"] ;

            if (isAdmin == 1) {
                $('#post-options').addClass('writer-post-options');
            } else {
                $('#post-options').addClass('user-post-options');
            }
        });
    </script>
}