@model WebAppCourseFinalProject.Models.Post


<div>
    <dl class="dl-horizontal">
        <h2> @Html.DisplayFor(model => model.Title)</h2>
        @Html.DisplayFor(model => model.CreatedAt)
        <br />
        <br />
        @Html.DisplayFor(model => model.Content)


    </dl>
</div>

<!-- TODO need to hide when there is no link -->
<div>
    <iframe id="video_link" width="420" height="315"
            src="https://www.youtube.com/embed/Mh85R-S-dh8"></iframe>
</div>

<div id="post-options">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Styles{
    <link href="~/css/post.css" rel="stylesheet" />
}
@section Scripts {

    <script  type="text/javascript">
       
        $(document).ready(function () {
            //Showing or hiding the edit and list option based on admin or not
        var isAdmin = @ViewData["isAdmin"] ;

            if (isAdmin == 1) {
                $('#post-options').addClass('writer-post-options');
            } else {
                $('#post-options').addClass('user-post-options');
            }
        });
    </script>
}